<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Basic password protection to access upload.php (ask administrator for credentials)
    <Files "upload.php">
        AuthUserFile /var/www/.htpasswd
        AuthType Basic
        AuthName "Authentification Required"
        Require valid-user
    </Files>

    RewriteRule ^([-0-9a-zA-Z_]+)$ index_filtered.php?author=$1
    RewriteRule ^([-0-9a-zA-Z_]+)/([-0-9a-zA-Z_]+)$ index_filtered.php?author=$1&oeuvre=$2
    RewriteRule ^([-0-9a-zA-Z_]+)/([-0-9a-zA-Z_]+)/comparaison/([0-9a-zA-Z_-]+)(/([0-9]+))?$ display.php?author=$1&work=$2&comparison=$1/$2/$3&chapter=$4
</IfModule>
