### Environment variables used in docker containers

# Replace all values marked as "Should be updated"
# (you can find how on the wiki or ask team)

## Mysql container environment variables
MYSQL_SERVERNAME_PROD=variance-mysql-prod
MYSQL_SERVERNAME_DEV=variance-mysql-dev
MYSQL_DATABASE=variance
MYSQL_USER=user_variance
# Should be updated
MYSQL_PASSWORD=user_password
# Should be updated
MYSQL_ROOT_PASSWORD=root_password

## PhpMyAdmin container environment variables
PMA_ARBITRARY=1
